body {
	--black: #000000;
	--ash-black: #222;
	--white: #fafafa;
	--sky: #00ccff;
	--green: #22dddd;
	--blue: #1300ff;
	--dusk: #6600ff;
	--purple: #9900ff;
	--pink: #ff0066;
	--red: #fe0222;
	--orange: #fd7702;
	--yellow: #ffbb00;
	--background: var(--white);
	--accent: #5f5f5f;
	margin: 0;
	padding: 0;
	background-color: var(--background);
	color: var(--black);
}

* {
	font-weight: 400;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
}

html {
	scroll-snap-type: y mandatory;
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	margin: 0;
	border-width: 0;
	background: none;
	outline: none;
	appearance: none;
	text-decoration: none;
	color: black;
}

a img {
	border: 0;
	outline: 0;
}

@media only screen and (max-width: 479px) {
	body {
		font-size: 5px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
		font-size: 6px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	body {
		font-size: 8px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	body {
		font-size: 10px;
	}
}

@media only screen and (min-width: 1280px) {
	body {
		font-size: 12px;
	}
}
